<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/css/style.css">
    <link rel="stylesheet" href="../../public/css/bootstrap.min.css">
    <script src="../scripts/process.js"></script>
    <script src="../scripts/js/bootstrap.min.js"></script>
    <link rel="shortcut icon" href="../../public/Img/logo 2.0.png" type="image/x-icon">

    <title>PagCAM</title>
</head>
<body>
    <header>
        <div class="log">
            <img src="../../public/Img/logo 2.0.png" alt="Logo">
            <h1 class="fw-bold">Modulares <br> Grifer</h1>
        </div>
        <a href="index.html"><li class="btn btn-outline-success border-2">Home</li></a>
        <a href="Nosotros.html"><li class="btn btn-outline-success border-2">Nosotros</li></a>
        <a href="portafolio.html"><li class="btn btn-outline-success border-2">Portafolio</li></a>
        <a href="contacto.html"><li class="btn btn-outline-success border-2">Contacto</li></a>
        <a href="admin.html"><li class="btn btn-outline-success border-2">Admin</li></a>


        </div>
    </header>
    <div class="contentnos">
        <div class="nos1">
            <h2 class="fw-bold">QUIENES SOMOS</h2>
            <img src="img/business-people.png" alt="">
            <P>Somos una empresa con mas de 20 años en el mercado de muebles, tenemos todo lo que buscas y mas, nacimos de un artesano el cual siempre tuvo las expectativas de crecimiento personal y laboral impulsado por su familia.</P>
        </div>
        <div class="nos2">
            <h2 class="fw-bold">HISTORIA</h2>
            <img src="img/historia.png" alt="">
            <p>Nuestra historia data hace 28 años cuando un artesano arriesgado decide emprender su taller de carpintería con expectativas de crecimiento y sostenibilidad para su familia, hoy con el conocimiento transmitido a sus hijos crean espacios con mobiliario novedoso y llegando a todas las expectativas de sus clientes.
            </p>
        </div>
        <div class="contcaj">
        <div class="nos3">
            <h2 class="fw-bold">MISION</h2>
            <img src="Img/mision.png" alt="">
            <p>Asesorar, diseñar y fabricar productos de mobiliario y carpinteria que se ajusten a las necesidades de nuestros clientes, logrando satisfacer sus espextativas economicas y de calidad.
            </p>
        </div>
        <div class="nos4">
            <h2 class="fw-bold">VISION</h2>
            <img src="img/vision.png" alt="">
            <p>Ser lideres en diseño y fabricación de carpintería arquitectónica en el sector retail con diseños exclusivos, con el mejor producto, en el tiempo justo y con la mejor calidad esperada.
            </p>
        </div>
    </div>

    </div>





    <footer>
        <div id="foot" class="logfoot">
            <img src="../../public/Img/logo 2.0.png" alt="Logo">
            <p class="fw-bold">Modulares Grifer</p>
        </div>

        <div class="botonesfoot">
            
            <div class="bot">
                <a href="https://www.facebook.com/MueblesGrifer"><img src="../../public/Img/facebook.png" alt=""></a>
                <h3 class="fw-bold">Facebook</h3>
            </div>
            <div class="bot">
                <a href="https://api.whatsapp.com/send?phone=573156152148"><img src="../../public/Img/whatsapp.png" alt=""></a>
                <h3 class="fw-bold">Whatsapp</h3>

            </div>
            <div class="bot">
                <a href="mailto:mailmodulares.grifer@gmail.com?Subject=Aquí%20el%20asunto%20del%20"><img src="../../public/Img/gmail.png" alt=""></a>
                <h3 class="fw-bold">Gmail</h3>

            
            </div>
            <div class="bot">
                <a href="https://www.instagram.com/modugrifer/?hl=es-la"><img src="../../public/Img/instagram.png" alt=""></a>
                <h3 class="fw-bold">Instagram</h3>
            </div>
        </div>
        <div class="moreinfo">
            <h3 class="text-sm-center text text-dark fw-bold" >¿MÁS INFORMACIÓN?</h3>
            <a href="https://api.whatsapp.com/send?phone=573156152148"><button class="btn btn-outline-dark p-2 border-2" >Click aqui</button></a>

        </div>

    </footer>

</body>
</html>