<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- CSS -->
        <link rel="stylesheet" href="/css/style.css">
        <!-- BOOTSTRAP -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">    <script src="js/bootstrap.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <!-- JQUERY -->
        <script src="/scripts/js/jquery-3.6.0.min.js"></script>
        <!-- LOGO -->
        <link rel="shortcut icon" href="/Img/logo 2.0.png" type="image/x-icon">
    <title>Modulares Grifer</title>
</head>
<body>
    <header>
        <div class="log">
            <img src="/Img/logo 2.0.png" alt="Logo">
            <h1 class="fw-bold">Modulares <br> Grifer</h1>
        </div>
        <div class="bothead">
        <a href="/"><li class="btn_nav btn btn-outline-success border-2 ">Home</li></a>
        <a href="/"><li class="btn_nav btn btn-outline-success border-2 ">Nosotros</li></a>
        <a href="portafolio"><li class="btn_nav btn btn-outline-success border-2 ">Portafolio</li></a>
        <a href="contacto"><li class="btn_nav btn btn-outline-success border-2 ">Contacto</li></a>
<!--         <a href="admin"><li class="btn btn-outline-success border-2">Admin</li></a>
 -->        </div>
        
    </header>

    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-PG7H7JFGR5"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-PG7H7JFGR5');
</script>
    <div class="contentnos">
        <div class="nos1">
            <h2 class="fw-bold">QUIENES SOMOS</h2>
            <img src="/Img/business-people.png" alt="">
            <P>Muebles y Modulares Grifer, Somos una empresa familiar de segunda generacion, dedicada desde hace mas de 30 años a la fabricacion de carpinteria y mobiliario.
                Nos enfocamos en generar emosiones y confort atravez del diseño y la funcionalidad con diseños modernos justo a la medida de tus espacios.</P>
        </div>
        <div class="nos2">
            <h2 class="fw-bold">HISTORIA</h2>
            <img src="/Img/historia.png" alt="">
            <p>Nuestra historia data hace 28 años cuando un artesano arriesgado decide emprender su taller de carpintería con expectativas de crecimiento y sostenibilidad para su familia, hoy con el conocimiento transmitido a sus hijos crean espacios con mobiliario novedoso y llegando a todas las expectativas de sus clientes.
            </p>
        </div>
        <div class="contcaj">
        <div class="nos3">
            <h2 class="fw-bold">MISION</h2>
            <img src="/Img/mision.png" alt="">
            <p>Asesorar, diseñar y fabricar productos de mobiliario y carpinteria que se ajusten a las necesidades de nuestros clientes, logrando satisfacer sus espextativas economicas y de calidad.
            </p>
        </div>
        <div class="nos4">
            <h2 class="fw-bold">VISION</h2>
            <img src="/Img/vision.png" alt="">
            <p>Ser lideres en diseño y fabricación de carpintería arquitectónica en el sector retail con diseños exclusivos, con el mejor producto, en el tiempo justo y con la mejor calidad esperada.
            </p>
        </div>
    </div>

    </div>





    <footer>
        <div id="foot" class="logfoot">
            <img src="/Img/logo 2.0.png" alt="Logo">
        </div>

        <div class="botonesfoot">
            
          <div class="bot">
            <a href="https://www.facebook.com/MueblesGrifer"><img src="/Img/facebook.png" alt=""></a>
            <h3 class="fw-bold">Facebook</h3>
        </div>
        <div class="bot">
            <a href="https://api.whatsapp.com/send?phone=573156152148"><img src="/Img/whatsapp.png" alt=""></a>
            <h3 class="fw-bold">Whatsapp</h3>

        </div>
        <div class="bot">
            <a href="mailto:mailmodulares.grifer@gmail.com?Subject=Aquí%20el%20asunto%20del%20"><img src="/Img/gmail.png" alt=""></a>
            <h3 class="fw-bold">Gmail</h3>

        
        </div>
        <div class="bot">
            <a href="https://www.instagram.com/modugrifer/?hl=es-la"><img src="/Img/instagram.png" alt=""></a>
            <h3 class="fw-bold">Instagram</h3>
          </div>
        </div>
        <div class="moreinfo">
            <h3 class="text-sm-center text text-dark fw-bold" >¿MÁS INFORMACIÓN?</h3>
            <a href="https://api.whatsapp.com/send?phone=573156152148"><button class="btn btn-outline-dark p-2 border-2" >Click aqui</button></a>

        </div>

    </footer>

</body>
</html>