<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="shortcut icon" href="Img/logo 2.0.png" type="image/x-icon">
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery-3.6.0.min.js"></script>
    <script src="process.js"></script>
    <title>PagCAM</title>
</head>
<body>
    <header>
        <div class="log">
            <img src="Img/logo 2.0.png" alt="Logo">
            <h1 class="fw-bold">Modulares <br> Grifer</h1>
        </div>
        <a href="index.html"><li class="btn btn-outline-success border-2">Home</li></a>
        <a href="Nosotros.html"><li class="btn btn-outline-success border-2">Nosotros</li></a>
        <a href="portafolio.html"><li class="btn btn-outline-success border-2">Portafolio</li></a>
        <a href="contacto.html"><li class="btn btn-outline-success border-2">Contacto</li></a>
        <a href="admin.html"><li class="btn btn-outline-success border-2">Admin</li></a>


        </div>
    </header>
    <div class="porContent">
        <h2 class="titles fw-bold ">Cocinas</h2>
        <div class="order-product">
            <div class="ima">
                <img src="Img/cocina1.png" alt="">
            
            </div>
            <div class="ima">
                <img src="Img/cocina2.png" alt="">
            
            </div>
            <div class="ima">
                <img src="Img/cocina3.png" alt="">
            
            </div>
            <div class="ima">   
                <img src="Img/cocina4.png" alt="">
            
            </div>
        </div>
        <div class="moreboxes">
            <div class="cocina">
                <img src="Img/cocina5.png" alt="">
            </div>
            <div class="cocina">
                <img src="Img/cocina6.jpeg" alt="">
            </div>
            <div class="cocina">
                <img src="Img/cocina7.jpeg" alt="">
            </div>
            <div class="cocina">
                <img src="Img/cocina8.jpeg" alt="">
            </div>

        </div>
        <button class="more_cocina btn btn-outline-success mt-3 border-1">VER MAS</button>
        <h2 class="titles fw-bold">Closets</h2>
 
        <div class="order-product">
            <div class="ima">
                <img src="Img/closet1.png" alt="">
            </div>
            <div class="ima">

                <img src="Img/closet2.png" alt="">
            </div>
            <div class="ima">
                <img src="Img/closet3.png" alt="">
            </div>
            <div class="ima">   
                <img src="Img/closet4.png" alt="">
            </div>
        </div>
        <div class="moreboxes">
            <div class="closet">
                <img src="Img/closet5.jpeg" alt="">
            </div>
            <div class="closet">
                <img src="Img/closet6.jpeg" alt="">
            </div>
            <div class="closet">
                <img src="Img/closet7.jpeg" alt="">
            </div>
            <div class="closet">
                <img src="Img/closet8.jpeg" alt="">
            </div>

        </div>
        <button class="more_closet btn btn-outline-success mt-3 border-1">VER MAS</button>
        <h2 class="titles fw-bold">Baños y lavaderos</h2>
 
        <div class="order-product">
            <div class="ima">
                <img src="Img/baño1.png" alt="">
            </div>
            <div class="ima">
                <img src="Img/baño2.png" alt="">
            </div>
            <div class="ima">
                <img src="Img/baño3.png" alt="">
            </div>
            <div class="ima">   
                <img src="Img/baño4.png" alt="">
            </div>
        </div>
                <div class="moreboxes">
            <div class="baño">
                <img src="Img/baño5.jpeg" alt="">
            </div>
            <div class="baño">
                <img src="Img/baño6.jpeg" alt="">
            </div>
            <div class="baño">
                <img src="Img/baño7.jpeg" alt="">
            </div>
            <div class="baño">
                <img src="Img/baño8.jpeg" alt="">
            </div>

        </div>
        <button class="more_baño btn btn-outline-success mt-3 border-1">VER MAS</button>
        <h2 class="titles fw-bold">Centros de entretenimiento</h2>
 
        <div class="order-product">
            <div class="ima">

                <img src="Img/CE1.png" alt="">
            </div>
            <div class="ima">

                <img src="Img/CE2.png" alt="">
            </div>
            <div class="ima">

                <img src="Img/CE3.png" alt="">
            </div>
            <div class="ima">   

                <img src="Img/CE4.png" alt="">
            </div>
        </div>
        <div class="moreboxes">
            <div class="CE">
                <img src="Img/CE5.jpeg" alt="">
            </div>
            <div class="CE">
                <img src="Img/CE6.jpeg" alt="">
            </div>
            <div class="CE">
                <img src="Img/C7.jpeg" alt="">
            </div>
            <div class="CE">
                <img src="Img/CE8.jpeg" alt="">
            </div>

        </div>
        <button class="more_CE btn btn-outline-success mt-3 border-1">VER MAS</button>
        <h2 class="titles fw-bold ">Mobiliario interior</h2>
 
        <div class="order-product">
            <div class="ima">
                <img src="Img/MB1.png" alt="">
            
            </div>
            <div class="ima">
                <img src="Img/MB2.png" alt="">
            
            </div>
            <div class="ima">
                <img src="Img/MB3.png" alt="">
            
            </div>
            <div class="ima">   
                <img src="Img/MB4.png" alt="">
            
            </div>
        </div>
        <div class="moreboxes">
            <div class="MB">
                <img src="Img/MB5.png" alt="">
            </div>
            <div class="MB">
                <img src="Img/MB6.png" alt="">
            </div>
            <div class="MB">
                <img src="Img/MB7.png" alt="">
            </div>
            <div class="MB">
                <img src="Img/MB8.png" alt="">
            </div>

        </div>
        <button class="more_MB btn btn-outline-success mt-3 border-1">VER MAS</button>

    </div>



    <footer>
        <div id="foot" class="logfoot">
            <img src="Img/logo 2.0.png" alt="Logo">
            <p class="fw-bold">Modulares Grifer</p>
        </div>

        <div class="botonesfoot">
            
            <div class="bot">
                <a href="https://www.facebook.com/MueblesGrifer"><img src="Img/facebook.png" alt=""></a>
                <h3 class="fw-bold">Facebook</h3>
            </div>
            <div class="bot">
                <a href="https://api.whatsapp.com/send?phone=573156152148"><img src="Img/whatsapp.png" alt=""></a>
                <h3 class="fw-bold">Whatsapp</h3>

            </div>
            <div class="bot">
                <a href="mailto:mailmodulares.grifer@gmail.com?Subject=Aquí%20el%20asunto%20del%20"><img src="Img/gmail.png" alt=""></a>
                <h3 class="fw-bold">Gmail</h3>

            
            </div>
            <div class="bot">
                <a href="https://www.instagram.com/modugrifer/?hl=es-la"><img src="Img/instagram.png" alt=""></a>
                <h3 class="fw-bold">Instagram</h3>
  
            
            </div>
        </div>
        <div class="moreinfo">
            <h3 class="text-sm-center text text-dark fw-bold" >¿MÁS INFORMACIÓN?</h3>
            <a href="https://api.whatsapp.com/send?phone=573156152148"><button class="btn btn-outline-dark p-2 border-2" >Click aqui</button></a>

        </div>

    </footer>

</body>
</html>