<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- CSS -->
    <link rel="stylesheet" href="../public/css/style.css">
    <!-- BOOTSTRAP -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">    <script src="js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <!-- JQUERY -->
    <script src="../public/js/jquery-3.6.0.min.js"></script>
    <!-- LOGO -->
    <link rel="shortcut icon" href="Img/logo-2-0.webp" type="image/x-icon">
    <!-- js -->
    <script src="../public/scripts/js/process.js"></script>
    
    <title>Modulares Grifer</title>
</head>
<body>
    <header>
        <div class="log">
            <img src="../public/Img/logo 2.0.png" alt="Logo">
            <h1 class="fw-bold">Modulares <br> Grifer</h1>
        </div>
        <div class="bothead">
        <a href="index.html"><li class="btn_nav btn btn-outline-success border-2 ">Home</li></a>
        <a href="nosotros.html"><li class="btn_nav btn btn-outline-success border-2">Nosotros</li></a>
        <a href=""><li class="btn_nav btn btn-outline-success border-2">Portafolio</li></a>
        <a href="contacto.html"><li class="btn_nav btn btn-outline-success border-2">Contacto</li></a>
<!--         <a href="admin.html"><li class="btn btn-outline-success border-2">Admin</li></a>
 -->
        </div>
    </header>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-PG7H7JFGR5"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-PG7H7JFGR5');
</script>

    <div class="porContent">
        <h2 class="titles fw-bold">Cocinas</h2>
        <div class="order-product">
            <div class="ima">
                <img id="open_coc1" src="../public/Img/COCINAS/Grupo1/Team_1 (3).jpeg" alt="">
                    <div class="overlay" id="cocina1">
                        <div class="popup" id="popup_cocina1">
                            <a href="#" id="btn_cerrar_popup" class="btn_cerrar_popup"><img style="width:2%; border: 0px solid white; " src="../public/Img/cerrar.png" alt=""></a>
                                <img id="pop_coc1" src="../public/Img/COCINAS/Grupo1/Team_1 (1).jpeg" alt="">
                                <img id="pop_coc1" src="../public/Img/COCINAS/Grupo1/Team_1 (2).jpeg" alt="">
                                <img id="pop_coc1" src="../public/Img/COCINAS/Grupo1/Team_1 (3).jpeg" alt="">
                                <img id="pop_coc1" src="../public/Img/COCINAS/Grupo1/Team_1 (4).jpeg" alt="">
                            </div>
            </div>
        </div>
    
            <div class="ima">
                <img id="open_coc2" src="../public/Img/COCINAS/Grupo2/Team_2 (1).jpeg" alt="">
    
                <div class="overlay" id="cocina2">
                    <div class="popup" id="popup_cocina2">
                        <a href="#" id="btn_cerrar_popup2" class="btn_cerrar_popup"><img style="width:2%; border: 0px solid white; " src="../public/Img/cerrar.png" alt=""></a>
                            <img id="pop_coc2" src="../public/Img/COCINAS/Grupo2/Team_2 (1).jpeg" alt="">
                            <img id="pop_coc2" src="../public/Img/COCINAS/Grupo2/Team_2 (2).jpeg" alt="">
                            <img id="pop_coc2" src="../public/Img/COCINAS/Grupo2/Team_2 (3).jpeg" alt="">
                            <img id="pop_coc2" src="../public/Img/COCINAS/Grupo2/Team_2 (4).jpeg" alt="">
                            <img id="pop_coc2" src="../public/Img/COCINAS/Grupo2/Team_2 (5).jpeg" alt="">
    
                        </div>
                </div>
            </div>
            <div class="ima">
                <img id="open_coc3" src="../public/Img/COCINAS/Grupo3/Team_3 (2).jpeg" alt="">
            
                <div class="overlay" id="cocina3">
                    <div class="popup" id="popup_cocina3">
                        <a href="#" id="btn_cerrar_popup3" class="btn_cerrar_popup"><img style="width:2%; border: 0px solid white; " src="../public/Img/cerrar.png" alt=""></a>
                            <img id="pop_coc3" src="../public/Img/COCINAS/Grupo3/Team_3 (1).jpeg" alt="">
                            <img id="pop_coc3" src="../public/Img/COCINAS/Grupo3/Team_3 (2).jpeg" alt="">
                            <img id="pop_coc3" src="../public/Img/COCINAS/Grupo3/Team_3 (3).jpeg" alt="">
                            <img id="pop_coc3" src="../public/Img/COCINAS/Grupo3/Team_3 (4).jpeg" alt="">
                            <img id="pop_coc3" src="../public/Img/COCINAS/Grupo3/Team_3 (5).jpeg" alt="">   
                            <img id="pop_coc3" src="../public/Img/COCINAS/Grupo3/Team_3 (6).jpeg" alt="">   
                            <img id="pop_coc3" src="../public/Img/COCINAS/Grupo3/Team_3 (7).jpeg" alt="">   
                            <img id="pop_coc3" src="../public/Img/COCINAS/Grupo3/Team_3 (8).jpeg" alt="">   
                        </div>
                </div>
    
            
            </div>
            <div class="ima">   
                <img id="open_coc4" src="../public/Img/COCINAS/Grupo4/Team_4 (1).jpeg" alt="">
                <div class="overlay" id="cocina4">
                    <div class="popup" id="popup_cocina4">
                        <a href="#" id="btn_cerrar_popup4" class="btn_cerrar_popup"><img style="width:2%; border: 0px solid white; " src="../public/Img/cerrar.png" alt=""></a>
                            <img id="pop_coc4" src="../public/Img/COCINAS/Grupo4/Team_4 (1).jpeg" alt="">
                            <img id="pop_coc4" src="../public/Img/COCINAS/Grupo4/Team_4 (2).jpeg" alt="">
                            <img id="pop_coc4" src="../public/Img/COCINAS/Grupo4/Team_4 (3).jpeg" alt="">
                            <img id="pop_coc4" src="../public/Img/COCINAS/Grupo4/Team_4 (4).jpeg" alt="">
                            <img id="pop_coc4" src="../public/Img/COCINAS/Grupo4/Team_4 (5).jpeg" alt="">   
                            <img id="pop_coc4" src="../public/Img/COCINAS/Grupo4/Team_4 (6).jpeg" alt="">   
    
                        </div>
                </div>
            
            </div>
        </div>

        <div class="moreboxes">
            <div class="cocina">
                <img src="../public/Img/COCINAS/COCINAS INDIVIDUALES/Cocina_ind (1).jpeg" alt="">
            </div>
            <div class="cocina">
                <img src="../public/Img/COCINAS/COCINAS INDIVIDUALES/Cocina_ind (2).jpeg" alt="">
            </div>
            <div class="cocina">
                <img src="../public/Img/COCINAS/COCINAS INDIVIDUALES/Cocina_ind (3).jpeg" alt="">
            </div>
            <div class="cocina">
                <img src="../public/Img/COCINAS/COCINAS INDIVIDUALES/Cocina_ind (4).jpeg" alt="">
            </div>

            <div class="box_other">
                <div class="cocina">
                    <img src="../public/Img/COCINAS/COCINAS INDIVIDUALES/Cocina_ind (5).jpeg" alt="">
                </div>
                <div class="cocina">
                    <img src="../public/Img/COCINAS/COCINAS INDIVIDUALES/Cocina_ind (6).jpeg" alt="">
                </div>
                <div class="cocina">
                    <img src="../public/Img/COCINAS/COCINAS INDIVIDUALES/Cocina_ind (7).jpeg" alt="">
                </div>
                <div class="cocina">
                    <img src="../public/Img/COCINAS/COCINAS INDIVIDUALES/Cocina_ind (8).jpeg" alt="">
                </div>
            </div>
                
            <div class="box_other">
                <div class="cocina">
                    <img src="../public/Img/COCINAS/COCINAS INDIVIDUALES/Cocina_ind (9).jpeg" alt="">
                </div>
                <div class="cocina">
                    <img src="../public/Img/COCINAS/COCINAS INDIVIDUALES/Cocina_ind (10).jpeg" alt="">
                </div>
                <div class="cocina">
                    <img src="../public/Img/COCINAS/COCINAS INDIVIDUALES/Cocina_ind (11).jpeg" alt="">
                </div>
                <div class="cocina">
                    <img src="../public/Img/COCINAS/COCINAS INDIVIDUALES/Cocina_ind (12).jpeg" alt="">
                </div>
            </div> 

        </div>
        <button class="more_cocina btn btn-outline-success mt-3 border-1">VER MAS</button>
        
        <h2 class="titles fw-bold">Closets</h2>
        <div class="order-product">
            <div class="ima">
                <img id="ope_clo1" src="../public/Img/CLOSETS/Grupo1/Team_1 (1).jpeg" alt="">
                <div class="overlay" id="closet1">
                    <div class="popup" id="popup_closet1">
                        <a href="#" id="btn_cerrar_popup_clo1" class="btn_cerrar_popup"><img style="width:2%; border: 0px solid white; " src="../public/Img/cerrar.png" alt=""></a>
                            <img id="pop_clos1" src="../public/Img/CLOSETS/Grupo1/Team_1 (1).jpeg" alt="">
                            <img id="pop_clos1" src="../public/Img/CLOSETS/Grupo1/Team_1 (2).jpeg" alt="">
                            <img id="pop_clos1" src="../public/Img/CLOSETS/Grupo1/Team_1 (3).jpeg" alt="">
                            <img id="pop_clos1" src="../public/Img/CLOSETS/Grupo1/Team_1 (4).jpeg" alt="">
                            <img id="pop_clos1" src="../public/Img/CLOSETS/Grupo1/Team_1 (5).jpeg" alt="">
                            <img id="pop_clos1" src="../public/Img/CLOSETS/Grupo1/Team_1 (6).jpeg" alt="">
    
                        </div>
                </div>
                
            </div>
            <div class="ima">
                <img id="ope_clo2" src="../public/Img/CLOSETS/Grupo2/Team_2 (1).jpeg" alt="">
                <div class="overlay" id="closet2">
                    <div class="popup" id="popup_closet2">
                        <a href="#" id="btn_cerrar_popup_clo2" class="btn_cerrar_popup"><img style="width:2%; border: 0px solid white; " src="../public/Img/cerrar.png" alt=""></a>
                            <img id="pop_clos2" src="../public/Img/CLOSETS/Grupo2/Team_2 (1).jpeg" alt="">
                            <img id="pop_clos2" src="../public/Img/CLOSETS/Grupo2/Team_2 (2).jpeg" alt="">
                            <img id="pop_clos2" src="../public/Img/CLOSETS/Grupo2/Team_2 (3).jpeg" alt="">
                            <img id="pop_clos2" src="../public/Img/CLOSETS/Grupo2/Team_2 (4).jpeg" alt="">
                            <img id="pop_clos2" src="../public/Img/CLOSETS/Grupo2/Team_2 (5).jpeg" alt="">
    
                        </div>
                </div>
                
            </div>
            <div class="ima">
                <img id="ope_clo3" src="../public/Img/CLOSETS/Grupo3/Team_3 (1).jpeg" alt="">

                <div class="overlay" id="closet3">
                    <div class="popup" id="popup_closet3">
                        <a href="#" id="btn_cerrar_popup_clo3" class="btn_cerrar_popup"><img style="width:2%; border: 0px solid white; " src="../public/Img/cerrar.png" alt=""></a>
                            <img id="pop_clos3" src="../public/Img/CLOSETS/Grupo3/Team_3 (1).jpeg" alt="">
                            <img id="pop_clos3" src="../public/Img/CLOSETS/Grupo3/Team_3 (2).jpeg" alt="">
                            <img id="pop_clos3" src="../public/Img/CLOSETS/Grupo3/Team_3 (3).jpeg" alt="">
                            <img id="pop_clos3" src="../public/Img/CLOSETS/Grupo3/Team_3 (4).jpeg" alt="">
                            <img id="pop_clos3" src="../public/Img/CLOSETS/Grupo3/Team_3 (5).jpeg" alt="">
    
                        </div>
                </div>
            </div>
            <div class="ima">   
                <img id="ope_clo4" src="../public/Img/CLOSETS/Grupo4/Team_4 (2).jpeg" alt="">
                
                <div class="overlay" id="closet4">
                    <div class="popup" id="popup_closet4">
                        <a href="#" id="btn_cerrar_popup_clo4" class="btn_cerrar_popup"><img style="width:2%; border: 0px solid white; " src="../public/Img/cerrar.png" alt=""></a>
                            <img id="pop_clos4" src="../public/Img/CLOSETS/Grupo4/Team_4 (1).jpeg" alt="">
                            <img id="pop_clos4" src="../public/Img/CLOSETS/Grupo4/Team_4 (2).jpeg" alt="">
                            <img id="pop_clos4" src="../public/Img/CLOSETS/Grupo4/Team_4 (3).jpeg" alt="">
                        </div>
                </div>
            </div>
        </div>
        <div class="moreboxes">
            <div class="closet">
                <img src="../public/Img/CLOSETS/INDIVIDUALES/Closet_ind (1).jpeg" alt="">
            </div>
            <div class="closet">
                <img src="../public/Img/CLOSETS/INDIVIDUALES/Closet_ind (2).jpeg" alt="">
            </div>
            <div class="closet">
                <img src="../public/Img/CLOSETS/INDIVIDUALES/Closet_ind (3).jpeg" alt="">
            </div>
            <div class="closet">
                <img src="../public/Img/CLOSETS/INDIVIDUALES/Closet_ind (4).jpeg" alt="">
            </div>
            <div class="box_other">
                <div class="closet">
                    <img src="../public/Img/CLOSETS/INDIVIDUALES/Closet_ind (5).jpeg" alt="">
                </div>
                <div class="closet">
                    <img src="../public/Img/CLOSETS/INDIVIDUALES/Closet_ind (6).jpeg" alt="">
                </div>
                <div class="closet">
                    <img src="../public/Img/CLOSETS/INDIVIDUALES/Closet_ind (7).jpeg" alt="">
                </div>
                <div class="closet">
                    <img src="../public/Img/CLOSETS/INDIVIDUALES/Closet_ind (8).jpeg" alt="">
                </div>
            </div>
            <div class="box_other">
                <div class="closet">
                    <img src="../public/Img/CLOSETS/INDIVIDUALES/Closet_ind (9).jpeg" alt="">
                </div>
                <div class="closet">
                    <img src="../public/Img/CLOSETS/INDIVIDUALES/Closet_ind (10).jpeg" alt="">
                </div>
                <div class="closet">
                    <img src="../public/Img/CLOSETS/INDIVIDUALES/Closet_ind (11).jpeg" alt="">
                </div>
                <div class="closet">
                    <img src="../public/Img/CLOSETS/INDIVIDUALES/Closet_ind (12).jpeg" alt="">
                </div>
            </div>

            

        </div>

        <button class="more_closet btn btn-outline-success mt-3 border-1">VER MAS</button>
        <h2 class="titles fw-bold">Baños y lavaderos</h2>
 
        <div class="order-product">
            <div class="ima">
                <img src="../public/Img/BAÑOS Y LAVADEROS/BAÑOS_LAB (12).jpeg" alt="">
                
            </div>
            <div class="ima">
                <img src="../public/Img/BAÑOS Y LAVADEROS/BAÑOS_LAB (11).jpeg" alt="">
                
            </div>
            <div class="ima">
                <img src="../public/Img/BAÑOS Y LAVADEROS/BAÑOS_LAB (14).jpeg" alt="">
                
            </div>
            <div class="ima">   
                <img src="../public/Img/BAÑOS Y LAVADEROS/BAÑOS_LAB (15).jpeg" alt="">
                
            </div>
        </div>
                <div class="moreboxes">
            <div class="baño">
                <img src="../public/Img/BAÑOS Y LAVADEROS/BAÑOS_LAB (1).jpeg" alt="">
            </div>
            <div class="baño">
                <img src="../public/Img/BAÑOS Y LAVADEROS/BAÑOS_LAB (2).jpeg" alt="">
            </div>
            <div class="baño">
                <img src="../public/Img/BAÑOS Y LAVADEROS/BAÑOS_LAB (3).jpeg" alt="">
            </div>
            <div class="baño">
                <img src="../public/Img/BAÑOS Y LAVADEROS/BAÑOS_LAB (4).jpeg" alt="">
            </div>
            <div class="box_other">
                <div class="baño">
                    <img src="../public/Img/BAÑOS Y LAVADEROS/BAÑOS_LAB (5).jpeg" alt="">
                </div>
                <div class="baño">
                    <img src="../public/Img/BAÑOS Y LAVADEROS/BAÑOS_LAB (6).jpeg" alt="">
                </div>
                <div class="baño">
                    <img src="../public/Img/BAÑOS Y LAVADEROS/BAÑOS_LAB (7).jpeg" alt="">
                </div>
                <div class="baño">
                    <img src="../public/Img/BAÑOS Y LAVADEROS/BAÑOS_LAB (8).jpeg" alt="">
                </div>
            </div>
            <div class="box_other">

            </div>


        </div>
        <button class="more_baño btn btn-outline-success mt-3 border-1">VER MAS</button>
        <h2 class="titles fw-bold">Centros de entretenimiento</h2>
 
        <div class="order-product">
            <div class="ima">

                <img src="../public/Img/CENTROS TV/CENTROS (6).jpeg" alt="">
            </div>
            <div class="ima">

                <img src="../public/Img/CENTROS TV/CENTROS (7).jpeg" alt="">
            </div>
            <div class="ima">

                <img src="../public/Img/CENTROS TV/CENTROS (10).jpeg" alt="">
            </div>
            <div class="ima">   

                <img src="../public/Img/CENTROS TV/CENTROS (9).jpeg" alt="">
            </div>
        </div>
        <div class="moreboxes">
            <div class="CE">
                <img src="../public/Img/CENTROS TV/CENTROS (1).jpeg" alt="">
            </div>
            <div class="CE">
                <img src="../public/Img/CENTROS TV/CENTROS (2).jpeg" alt="">
            </div>
            <div class="CE">
                <img src="../public/Img/CENTROS TV/CENTROS (3).jpeg" alt="">
            </div>
            <div class="CE">
                <img src="../public/Img/CENTROS TV/CENTROS (4).jpeg" alt="">
            </div>


        </div>
        <button class="more_CE btn btn-outline-success mt-3 border-1">VER MAS</button>
        <h2 class="titles fw-bold ">Mobiliario interior</h2>
 
        <div class="order-product">
            <div class="ima">
                <img src="../public/Img/OTROS/OTROS (18).jpeg" alt="">
            
            </div>
            <div class="ima">
                <img src="../public/Img/OTROS/OTROS (20).jpeg" alt="">
            
            </div>
            <div class="ima">
                <img src="../public/Img/OTROS/OTROS (21).jpeg" alt="">
            
            </div>
            <div class="ima">   
                <img src="../public/Img/OTROS/OTROS (28).jpeg" alt="">
            
            </div>
        </div>
        <div class="moreboxes">
            <div class="MB">
                <img src="../public/Img/OTROS/OTROS (1).jpeg" alt="">
            </div>
            <div class="MB">
                <img src="../public/Img/OTROS/OTROS (2).jpeg" alt="">
            </div>
            <div class="MB">
                <img src="../public/Img/OTROS/OTROS (3).jpeg" alt="">
            </div>
            <div class="MB">
                <img src="../public/Img/OTROS/OTROS (4).jpeg" alt="">
            </div>

            <div class="box_other">
                <div class="MB">
                    <img src="../public/Img/OTROS/OTROS (5).jpeg" alt="">
                </div>
                <div class="MB">
                    <img src="../public/Img/OTROS/OTROS (6).jpeg" alt="">
                </div>
                <div class="MB">
                    <img src="../public/Img/OTROS/OTROS (7).jpeg" alt="">
                </div>
                <div class="MB">
                    <img src="../public/Img/OTROS/OTROS (8).jpeg" alt="">
                </div>
            </div>
            <div class="box_other">
                <div class="MB">
                    <img src="../public/Img/OTROS/OTROS (9).jpeg" alt="">
                </div>
                <div class="MB">
                    <img src="../public/Img/OTROS/OTROS (10).jpeg" alt="">
                </div>
                <div class="MB">
                    <img src="../public/Img/OTROS/OTROS (11).jpeg" alt="">
                </div>
                <div class="MB">
                    <img src="../public/Img/OTROS/OTROS (12).jpeg" alt="">
                </div>
            </div>
        </div>
        <button class="more_MB btn btn-outline-success mt-3 border-1">VER MAS</button>

    </div>



    <footer>
        <div id="foot" class="logfoot">
            <img src="../public/Img/logo 2.0.png" alt="Logo">
        </div>

        <div class="botonesfoot">
            
          <div class="bot">
            <a href="https://www.facebook.com/MueblesGrifer"><img src="../public//Img/facebook.png" alt=""></a>
            <h3 class="fw-bold">Facebook</h3>
        </div>
        <div class="bot">
            <a href="https://api.whatsapp.com/send?phone=573156152148"><img src="../public//Img/whatsapp.png" alt=""></a>
            <h3 class="fw-bold">Whatsapp</h3>

        </div>
        <div class="bot">
            <a href="mailto:mailmodulares.grifer@gmail.com?Subject=Aquí%20el%20asunto%20del%20"><img src="../public//Img/gmail.png" alt=""></a>
            <h3 class="fw-bold">Gmail</h3>

        
        </div>
        <div class="bot">
            <a href="https://www.instagram.com/modugrifer/?hl=es-la"><img src="../public//Img/instagram.png" alt=""></a>
            <h3 class="fw-bold">Instagram</h3>
          </div>
        </div>
        <div class="moreinfo">
            <h3 class="text-sm-center text text-dark fw-bold" >¿MÁS INFORMACIÓN?</h3>
            <a href="https://api.whatsapp.com/send?phone=573156152148"><button class="btn btn-outline-dark p-2 border-2" >Click aqui</button></a>

        </div>

    </footer>

    <script src="../public/scripts/js/popup.js"></script>

</body>
</html>