<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS -->
    <link rel="stylesheet" href="src/public/css/style.css">
    <!-- BOOTSTRAP -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">    <script src="js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <!-- JQUERY -->
    <script src="src/public/js/jquery-3.6.0.min.js"></script>
    <!-- LOGO -->
    <link rel="shortcut icon" href="Img/logo-2-0.webp" type="image/x-icon">
    
    <title>Document</title>
</head>
<body>
    <div class="order-product">
        <div class="ima">
            <img id="ope_clo1" src="src/public/Img/closet1.png" alt="">
            <div class="overlay" id="closet1">
                <div class="popup" id="popup_closet1">
                    <a href="#" id="btn_cerrar_popup_clo1" class="btn_cerrar_popup"><img style="width:2%; border: 0px solid white; " src="src/public/Img/cerrar.png" alt=""></a>
                        <img id="pop_clos1" src="src/public/Img/CLOSETS/Grupo1/Team_1 (1).jpeg" alt="">
                        <img id="pop_clos1" src="src/public/Img/CLOSETS/Grupo1/Team_1 (2).jpeg" alt="">
                        <img id="pop_clos1" src="src/public/Img/CLOSETS/Grupo1/Team_1 (3).jpeg" alt="">
                        <img id="pop_clos1" src="src/public/Img/CLOSETS/Grupo1/Team_1 (4).jpeg" alt="">
                        <img id="pop_clos1" src="src/public/Img/CLOSETS/Grupo1/Team_1 (5).jpeg" alt="">
                        <img id="pop_clos1" src="src/public/Img/CLOSETS/Grupo1/Team_1 (6).jpeg" alt="">

                    </div>
            </div>
            
        </div>
        <div class="ima">
            <img id="ope_clo2" src="src/public/Img/closet2.png" alt="">
            <div class="overlay" id="closet2">
                <div class="popup" id="popup_closet2">
                    <a href="#" id="btn_cerrar_popup_clo2" class="btn_cerrar_popup"><img style="width:2%; border: 0px solid white; " src="src/public/Img/cerrar.png" alt=""></a>
                        <img id="pop_clos2" src="src/public/Img/CLOSETS/Grupo2/Team_2 (1).jpeg" alt="">
                        <img id="pop_clos2" src="src/public/Img/CLOSETS/Grupo2/Team_2 (2).jpeg" alt="">
                        <img id="pop_clos2" src="src/public/Img/CLOSETS/Grupo2/Team_2 (3).jpeg" alt="">
                        <img id="pop_clos2" src="src/public/Img/CLOSETS/Grupo2/Team_2 (4).jpeg" alt="">
                        <img id="pop_clos2" src="src/public/Img/CLOSETS/Grupo2/Team_2 (5).jpeg" alt="">

                    </div>
            </div>
            
        </div>
<!--         <div class="ima">
            <img id="ope_clo3" src="src/public/Img/closet3.png" alt="">

            <div class="overlay" id="closet3">
                <div class="popup" id="popup_closet3">
                    <a href="#" id="btn_cerrar_popup_clo3" class="btn_cerrar_popup"><img style="width:2%; border: 0px solid white; " src="src/public/Img/cerrar.png" alt=""></a>
                        <img id="pop_clos3" src="src/public/Img/CLOSETS/Grupo3/Team_3 (1).jpeg" alt="">
                        <img id="pop_clos3" src="src/public/Img/CLOSETS/Grupo3/Team_3 (2).jpeg" alt="">
                        <img id="pop_clos3" src="src/public/Img/CLOSETS/Grupo3/Team_3 (3).jpeg" alt="">
                        <img id="pop_clos3" src="src/public/Img/CLOSETS/Grupo3/Team_3 (4).jpeg" alt="">
                        <img id="pop_clos3" src="src/public/Img/CLOSETS/Grupo3/Team_3 (5).jpeg" alt="">

                    </div>
            </div>
        </div> -->
<!--         <div class="ima">   
            <img id="ope_clo4" src="src/public/Img/closet4.png" alt="">
            
            <div class="overlay" id="closet4">
                <div class="popup" id="popup_closet4">
                    <a href="#" id="btn_cerrar_popup_clo4" class="btn_cerrar_popup"><img style="width:2%; border: 0px solid white; " src="src/public/Img/cerrar.png" alt=""></a>
                        <img id="pop_clos4" src="src/public/Img/CLOSETS/Grupo4/Team_4 (1).jpeg" alt="">
                        <img id="pop_clos4" src="src/public/Img/CLOSETS/Grupo4/Team_4 (2).jpeg" alt="">
                        <img id="pop_clos4" src="src/public/Img/CLOSETS/Grupo4/Team_4 (3).jpeg" alt="">
                    </div>
            </div>
        </div> -->
    </div>
    <script src="src/public/scripts/js/popup.js"></script>

</body>
</html>